/**FONTS**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); /**bold**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /**medium**/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /**regular**/

/*COLORS*/
html{
    scroll-behavior: smooth;
}
:root{
    --colorDefault: #ffff00;
    --whiteColor: #ffffff;
    --redcolor:red;
}
/* loader */
.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    position: fixed;
    background-color: var(--whiteColor);
    animation: disp 3s  forwards;
    -webkit-animation: disp 3s forwards;
}

.loader > .loading{
    width: 50%;
    margin: 280px auto;
}
.loading > .rotate{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
    border-left: 5px solid var(--redcolor);
    border-bottom: 5px solid var(--colorDefault);
    animation: loader 0.5s infinite forwards;
    -webkit-animation: loader 0.5s infinite forwards;
}
@keyframes disp{ 
    100%{
      opacity: 0;
      visibility: hidden;
    }
} 

@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}
/* loader */
::-webkit-scrollbar{
    width: 3px!important;
}
::-webkit-scrollbar-thumb{
    background-color: var(--colorDefault)!important;
    border-radius: 50px!important;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    margin-left: 380px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
#nav{
 background:rgba(120, 30, 120, 0.5);
}
#nav .navbar-brand {
    color: var(--colorDefault);
    /* margin-left: 80px; */
    padding-left: 90px;
}
.navbar-collapse{
    width: 80%;
    float: right;
}
.navbar-nav{
    float: right;
    margin-left: 100px;
}
.navbar-nav .nav-item{
    margin-left: 20px;
}
#collapsibleNavbar .navbar-nav .nav-item a{
    color: var(--redcolor);
    padding: 20px;
    font-size: 1.3rem;
}
#collapsibleNavbar .navbar-nav .nav-item a:hover{
    color: var(--colorDefault);
    transition: 1s;
}
/* home */
.home{
    background: url("../images/header/img.jpg");
    background-size: cover;
    background-attachment: fixed;
    

}
.home > .home-item{
    display: flex;
    justify-content: center;
}
.home-item > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    color: var(--whiteColor);
}
.home-item div h4{
    text-align: center;
    font-size: 1rem;
}
.home-item div h1{
    font-size: 1.9rem;
}
.home-item div span{
    background-color: var(--colorDefault);
    color: #000000;
    padding: 5px;
    display:block;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    width: 35%;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



/* home */


/* services */

.container{
    padding-top: 1.2rem;
}
.fluid{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.card-header{
    text-align: center;
    border-bottom: none;
    background-color: transparent!important;
}

.card{
    display: flex;
    flex-direction: column;
    border: transparent!important;;

}
.container > h3{
    /* padding: 1.; */
    text-transform: capitalize;
}
.services > .container > .row > .col-md-4 > .card{
    border: none;
    border-radius: 0;
}
.services > .container >  .col-md-4 > .card > .card-header{
    text-align: center;
    border-bottom: none;
    background-color: transparent;
}
.card > .card-header > i{
    font-size: 3rem;
    background-color: var(--colorDefault);
    padding: 1.5rem;
    border-radius: 50px;
}
.card > .card-body{
    text-align: center;
}
.card > .card-body> h3{
    font-size: 1.2rem;

}
.card > .card-body > p {
    width: 100%;
    font-size: 1.1rem;
}
#border{
    border-bottom: transparent!important;
}
/* services */


/* portfolio */
.portfolio{
    width: 100%;
    /* padding: 1rem auto;
     */
     padding-top: 200px;
}
.portfolio > h3{
    text-transform: capitalize;
}
.portfolio-header{
    /* padding-top: 70px; */
    text-align: center;
}
.portfolio-card{
    /* padding-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portfolio-card > .portfolio-img{
    width: 27%;
    position:relative;
    margin: 5px;

}
.portfolio-img > img{
    width: 100%;
    /* margin: 5px; */
}
.portfolio-text{
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(100, 20, 100, 0.9);
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.portfolio-text > .portfolio-text-item{
    padding-top: 100px;
    text-align: center;
    color: var(--colorDefault);
    
}
.portfolio-text-item > h4{
    color: var(--redcolor);
    text-transform: capitalize;
}
.portfolio-img:hover .portfolio-text{
    visibility: visible;
    transition: 2s;
    -webkit-transition: 2s;
}


/* portfolio */



/* about me */

.container{
    padding-top: 50px;
}
.about-display{
    display: flex;
    width: 100%;

}
.about-display > .img{
    width: 50%;
    
}
.about-display > .about-info{
    width: 50%;
}
.img > img{
    width: 80%;
    height: 400px;
}
.about-description{
    width: 80%;
    font-size: 1em;

}
.about-description > h3{
    font-size: 1.3rem;
}
.about-info{
    padding-top: 50px;
}
.main-info{
    display: flex;
    /* margin-left: 80px; */
    /* padding-left: 20px; */
    font-weight: bold;
    /* justify-content: center; */
    /* align-items: center; */
}
.main-list > ol > li{
    list-style: none;
}
.main-list-item{
    margin-left: 40px;
    color: #808080;
}
.main-list-item > h4{
    font-size: 16px;
}
.main-list-item > h2{
    font-size: 16px;
}
.main-list-item > h5{
    font-size: 16px;
}
/* about me */



/* footer */
.footer{
    margin-top: 100px;
    background-color: #000000;
    padding: 1.3rem;
}
.disp{
    display: flex;
}
.text > p{
    font-size: 15px;
    color: #fff;
    width: 100%;
}
.text{
    width: 50%;
}
.social-networks{
    display: flex;
    width: 25%;
}
.social-networks i{
    margin: 5px;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 30px;
    background-color: var(--colorDefault);
    color: #000000;
}
.social-networks i:hover{
    color:var(--colorDefault);
    background-color: #000000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.povered-by{
    color: var(--whiteColor);
}

/* footer */



/* media screen */



@media  screen and (max-width:400px) {
    html,body{
        overflow-x: hidden;
    }

    /* nav-bar */
   .nav-link{
       padding: 5px;
   }
   .navbar-brand{
       width: 30%;
   }
   .navbar-expand-md .navbar-collapse {
    margin-left: 109px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

    /* nav-bar */
    /* home */
    .home-item > div > h1{
        font-size: 1.3rem;
    }
    .home-item > div > span {
        border: transparent;
        width:60% ;
        font-weight: bold;
    }
    .home-item > div{
        margin-top: 250px;
    }
    /* home */


    /* services */
    .fluid{
        display: block;
    }
    .fluid > .col-md-4 {
        width: 100%;
        font-weight: 300;
    }
    /* services */


    /* portfolio */
    .portfolio{
        margin-top: 100px;
    }
  
    .portfolio-card{
        display: block;
    }
    .portfolio-card > .portfolio-img{
        width: 100%;
        }
        .portfolio-img > .portfolio-text{
            margin: 0;
            padding-top: 20px;
            font-size: 1.2rem;
        }
    /* portfolio */



    /* about */
    .about-section{
        margin-top: 100px;
    }
        .about-display{
            display: block;
        }
        .about-display > .img{
            width: 100%;
        }
        .img > img{
            display: block;
            width: 80%;
            margin: auto;
        }
       .about-display > .about-info{
            width: 100%;
        }
        .about-info > .about-description{
            width: 100%;
            margin: auto;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .about-description > .main-info{
            width: 100%;
            margin-left: 20px;
            margin-bottom: 10px;
            padding-top: 10px;
            text-align: center;
            
        }
        .main-info{
            justify-content: flex-start;
        }
    /* about */
        .container{
            padding-left: 63px;
        }
     

    /* footer */
        .footer > .disp{
            display: block;
        }
        .main-footer{
            width: 100%;
            margin-top: 30px;
            padding: 0;
            text-align: center;
        }
        .social-networks > i {
            font-size: 1rem;
            text-align: center;
          
           
        }
        .main-social-div{
            width: 50%;
            /* margin: 0 auto; */
            justify-content:center;
            margin-left: 30px;
          
        }
        
    .main-list-item {
    margin-left: 5px;
    color: #808080;
    }
    /* footer */
}
@media  screen and (max-width:768px) {
    html,body{
        overflow-x: hidden;
    }

    /* nav-bar */
   .nav-link{
       padding: 5px;
   }
   .navbar-brand{
       width: 30%;
   }
   .navbar-expand-md .navbar-collapse {
    margin-left: 109px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

    /* nav-bar */
    /* home */
    .home-item > div > h1{
        font-size: 1.3rem;
    }
    .home-item > div > span {
        border: transparent;
        width:60% ;
        font-weight: bold;
    }
    .home-item > div{
        margin-top: 250px;
    }
    /* home */


    /* services */
    .fluid{
        display: block;
    }
    .fluid > .col-md-4 {
        width: 100%;
        font-weight: 300;
    }
    /* services */


    /* portfolio */
    .portfolio{
        margin-top: 100px;
    }
  
    .portfolio-card{
        display: block;
    }
    .portfolio-card > .portfolio-img{
        width: 100%;
        }
        .portfolio-img > .portfolio-text{
            margin: 0;
            padding-top: 20px;
            font-size: 1.2rem;
        }
        
        .main-list-item {
            margin-left: 5px;
            color: #808080;
        }
    /* portfolio */



    /* about */
    .about-section{
        margin-top: 100px;
    }
        .about-display{
            display: block;
        }
        .about-display > .img{
            width: 100%;
        }
        .img > img{
            display: block;
            width: 80%;
            margin: auto;
        }
       .about-display > .about-info{
            width: 100%;
        }
        .about-info > .about-description{
            width: 100%;
            margin: auto;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .about-description > .main-info{
            width: 100%;
            justify-content: center;
            padding-top: 10px;
            text-align: center;
        }
    /* about */


    /* footer */
        .footer > .disp{
            display: block;
        }
        .main-footer{
            width: 100%;
            margin-top: 30px;
            padding: 0;
            text-align: center;
        }
        .social-networks > i {
            font-size: 1rem;
            text-align: center;
          
           
        }
        .main-social-div{
            width: 100%;
            /* margin: 0 auto; */
            justify-content:center;
            margin-left: 30px;
          
        }
        .povered-by{
            width: 100%;
            text-align: center;
            margin-left: 20px;
        }

    /* footer */
}

@media screen and (max-width:938px) {
    html,body{
        overflow-x: hidden;
    }
    #collapsibleNavbar{
        display: -ms-flexbox!important;
        display: flex!important;
        margin-left: 100px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-nav{
        margin-left: 0;
    }

    .card-body{
        padding: 0;
        margin: 0;
    }
    .card-body > p{
        text-align: center;
        font-size: 1.1rem;
        width: 100%;
    }

    .about-info{
        padding-top: 10px;
    }
    
    .main-list-item {
        margin-left: 5px;
        color: #808080;
    }
    
}
